.sidebar {
    background-color: #E7ECEF;
    padding: 1em;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.select {
    border-radius: 0.5em;
    font-family: inherit;
    font-weight: 600;
    padding: 0.5em;
}