.button {
    transition: all 0.3s;
    background-color: #2373BE;
    color: white;
    display: inline;
    /* padding: 0.25em; */
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

.button:hover {
    transition: all 0.3s;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}